* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.for{
    width: 100%;
    height: 390px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin: auto;
}

form {
    width: 550px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label{
    margin-left: 50px;
}
input{
    margin: auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #282727;
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    margin: auto;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
 
button {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: vertical;
}

.contato {
    width: 550px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: rgb(2, 2, 119);
}
.contato h2{
margin-left: 140px;
}

.redes_caixa {
    width: 300px; 
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.whats {
    background-image: url(../../imagens/whats.png);
    width: 75px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.insta {
    background-image: url(../../imagens/insta.png);
    width: 75px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.face {
    background-image: url(../../imagens/face.png);
    width: 75px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}