* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: auto;
    position: relative;
    background-color: aquamarine;
    width: 95%;
    height: 190px;
    background-image: url(../../imagens/guitarras_header.jpg);
    background-size: cover;
}

nav{
    position: relative;
    font-size: 19px;
    height: 40px;
    width:540px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    top: 120px;
    left: 700px;
}

nav a{
    scroll-behavior: smooth;
    color:#6B2B2B;
    text-decoration: none;
}
